[submodule "link/IN-bin/VIS-git-subrepo"]
	path = link/IN-bin/VIS-git-subrepo
	url = git@github.com:ingydotnet/git-subrepo.git
[submodule "link/vim/bundle/you-complete-me"]
	path = link/vim/bundle/you-complete-me
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "link/vim/bundle/nerdtree"]
	path = link/vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "link/vim/bundle/vim-plug"]
	path = link/vim/bundle/vim-plug
	url = https://github.com/junegunn/vim-plug.git
