[user]
	name = Tony Wooster
[color]
	branch = auto
	status = auto
	diff = auto
[alias]
        forget = rm --cache --
	unadd = reset HEAD
[core]
	excludesfile = ~/.gitconfig-ignore

[include]
        path = .gitconfig-local
[rerere]
	enabled = true
